@{
    ViewBag.Title = "Home Page";
    //Layout = null;
}

<html>
<head>

</head>

<body>
    <section id="nav-bar"></section>
    <section id="Welcome">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Welcome</h1>
                    <div class="welcome-content">
                        The CIS Mentor Program is the best way for students to enhance their learning while taking CIS classes at UofL.
                        This mentor program is used by underclassmen, upperclassmen, and alumni at UofL. Connect with your peers to ask question, form connections and develop your professional skills.
                    </div>
                    <button type="button" class="btn btn-primary">@Html.ActionLink("LOG IN", "Login", "Login")</button>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

<style>
    /*body {
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../../Content/Images/Some_students_sitting_on_sign.jpg);
        height: cover;
        background-size: cover;
        background-position: center;
    }

    * {
        margin: 0;
        padding: 0;
    }

    #nav-bar {
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .navbar-brand img {
        height: 100px;
        padding-left: 5rem;
    }

    .navbar-nav li {
        padding: 0 10px;
        color: #007bff !important;
    }

        .navbar-nav li a {
            float: right;
            text-align: left;
        }

    #nav-bar ul li a:hover {
        color: #007bff !important;
    }

    .navbar {
        background: #fff;
    }

    .navbar-toggler {
        border: none !important;
    }

    .nav-link {
        color: #555 !important;
        font-weight: 600;
        font-size: 16px;
    }

    Welcome
    #Welcome {
        padding-top: 350px;
        padding-bottom: 50px;
        color: white;
        font-size: 20px;
    }

        #Welcome .btn {
            margin-top: 20px;
            margin-bottom: 30px;
        }

    .welcome-content {
        padding-top: 20px;
    }

    About
    #About {
        padding-top: 100px;
        padding-right: 700px;
        padding-bottom: 50px;
        color: white;
        font-size: 20px;
    }

    #Student {
        padding-top: 50px;
        padding-right: 700px;
        padding-bottom: 50px;
        color: white;
        font-size: 20px;
    }


    #Alumni {
        padding-top: 100px;
        padding-right: 700px;
        padding-bottom: 500px;
        color: white;
        font-size: 20px;
    }*/
</style>
