*
{
	margin: 0;
	padding: 0;
}
#nav-bar
{
	position: sticky;
	top: 0;
	z-index:10;
}

.navbar-brand img
{
	height: 50px;
	padding-left: 30px;
	
}
.navbar-nav li
{
	padding: 0 10px;
	color: #007bff!important;
}

.navbar-nav li a
{
	float: right;
	text-align: left;
}

#nav-bar ul li a:hover
{
	color: #007bff!important;
}

.navbar
{
	background: #fff;
}

.navbar-toggler
{
	border: none!important;
}
.nav-link
{
  color: #555!important;
  font-weight: 600;
  font-size: 16px;
}

body
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(image.jpg);
	height: cover;
	background-size: cover;
	background-position: center;
}

/*Welcome*/
#Welcome
{
	padding-top: 350px;
	padding-bottom: 50px;
	color: white;
	font-size: 20px;
}
#Welcome .btn
{
	margin-top: 20px;
	margin-bottom: 30px;
}
.welcome-content
{
	padding-top: 20px;
	
	
}

/*About*/
#About
{
	padding-top: 100px;
	padding-right: 700px;
	padding-bottom: 50px;
	color: white;
	font-size: 20px;
}

#Student
{
	padding-top: 50px;
	padding-right: 700px;
	padding-bottom: 50px;
	color: white;
	font-size: 20px;
}


#Alumni
{
	padding-top: 100px;
	padding-right: 700px;
	padding-bottom: 500px;
	color: white;
	font-size: 20px;
}