
@{
    Layout = null;
    ViewBag.Title = "Calender";
    @Styles.Render("~/Content/ProfileCSS")
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calender</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
